@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      font-family: 'Gabarito', cursive;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: 'Kanit', sans-serif;
   }
   p,
   a,
   span {
      font-family: 'Onest', sans-serif;
   }

   .teko-font {
      font-family: 'Teko', sans-serif;
   }

   /* layout spacing */
   .section-horizontal-spacing {
      @apply px-8 sm:px-12 md:px-16 lg:px-32 xl:px-44 2xl:px-64;
   }

   .section-vertical-spacing {
      @apply py-40;
   }
}
